# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.xml
*.jpeg
*.png
*.jpg

#Custom files
Makefile
CMakeCache.txt


*.out
*.bin
*.o
*.json

cmake_install.cmake
pose_annotation_tool

CMakeFiles/3.8.1/CMakeCCompiler.cmake
CMakeFiles/3.8.1/CMakeCXXCompiler.cmake
CMakeFiles/3.8.1/CMakeSystem.cmake

CMakeFiles/3.8.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.8.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
.idea/*


*.zip
images.txt
*.mat
